@use '../abstracts/' as *;

.movie-card {
  display: block;
  width: 13rem;
  position: relative;
  &__image {
    height: 18.75rem;
    border-radius: 1.5rem;
  }
  &__title {
    color: $wht_color;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.75rem 0;
  }
  &__details {
    color: rgba($wht_color, 0.5);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    //justify-content: center;
    gap: 1rem;
  }
  &__star {
    color: #ffa401;
  }
  &__actions {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: rgba($prim_color, 0.7);
    color: $wht_color;
    height: 18.75rem;
    width: 100%;
    border-radius: 1.5rem;
    top: 0;
    position: absolute;
    & > button {
      font-size: 2rem;
    }
  }

  &:hover > &__actions {
    display: flex;
  }
}
