@use '../abstracts/' as *;
.genre-filter {
  width: 100%;
  overflow: hidden;
  margin: 2.5rem 0;
  &__content {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    @include hide-scrollbar;
  }
}
